body {
  overflow-x:hidden;
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-size: 7rem;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-size: 3.5rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  
}  

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
}

.navbar {
  background-color: #66bfbf;
  height: 12vh;
  font-size: 1.2rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;

}

@media screen and (max-width: 768px) {
  .navbar  {
    height: 8vh;
  }

  
}

.profile-pic {
  width: 5.2vw;
 
}

@media screen and (max-width: 768px) {
.profile-pic {
  width:8vw
}
}



/* 
.navbar-brand {
  position: relative;
  margin-top: 15px;
  margin-left: 90px;
  color: #11999E;
}

.navbar-toggler {
  color: black;
  border-width: 0px;
  margin-right: 40px;
}

.navbar-collapse {
  margin-right: 50px;
}

.nav-item{
  margin-bottom: -10px;
} */

.top-container {
  position: relative;
  margin: 0;
  text-align: center;
  object-position: center;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #EDEDD8;
  height: 100vh;
  align-items: center;
  display: flex;
}

.top-container h1 {
  font-size: 4rem;
 
  line-height: 2;
}

.top-container h2 {
  font-size: 3.5rem;
  
  
  
}  

@media screen and (max-width: 768px) {
  .top-container h1 {
    font-size: 3rem;
  }
  .top-container h2 {
    font-size: 2rem;
  }
}


@media screen and (max-width: 768px) {
  .top-container  {
    height: 50vh;
  }
}





.btn-group-vertical {
  float:left !important;
  
}

.linkedin {
  width: 80px;

}

.github {
  width: 80px;

}


@media screen and (max-width: 768px) {
  .linkedin {
    width: 40px;

  }
  .github {
    width: 40px;

  }
}





.middle-container {
  object-position: center;
  text-align: left;
  position: relative; 
  font-family: 'Josefin Sans', sans-serif;
  color: #66BFBF;
  height: 100vh;
 
} 

@media screen and (max-width: 768px) {
  .middle-container  {
    height: 50vh;
  }
}

.middle-container img {
  margin:10px 10px 10px 10px;
  width: 5vw;
  align-items: left;
}

.middle-container .html {
  width: 5.8vw;
  margin-right: 0;
}


p {
  color: #40514E;
  font-family: 'Josefin Sans', sans-serif;
  line-height: 2;
  font-size: 1.1rem;
}


@media screen and (max-width: 600px) {
  p {
    font-size: 12px;
    padding-right: 5px;

  }
}



.up {
  align-items: center;
  object-position: center;
  padding-top: 100px;
   
}

#skills {
  margin-top: 90px;
} 


#frontal-picture {
  width: 300px;
  
}

@media screen and (max-width: 600px) {
  #frontal-picture {
    width: 100px;
    margin-top: 50px
    

  }
}



.contact {
  height: 70vh;
  background-color: #EDEDD8;
  text-align: center;
  object-position: center;
  align-items: center;
  padding-top: 40px;
 
}

@media screen and (max-width: 768px) {
  .contact  {
    height: 20vh;
  }
 
}



.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 30px 20px;
  text-decoration: none;
  margin: 10px 45% 40px 45%;
  display: inline-block ;
  font-family: 'Josefin Sans', sans-serif;
  align-self: center;
  
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #3498db);
  background-image: -moz-linear-gradient(top, #30e3cb, #3498db);
  background-image: -ms-linear-gradient(top, #30e3cb, #3498db);
  background-image: -o-linear-gradient(top, #30e3cb, #3498db);
  background-image: linear-gradient(to bottom, #30e3cb, #3498db);
  text-decoration: none;
}







.mr-2 {
  float:right !important;
  margin-top: 40px;
  
}

.mr-2 img {
  width: 40px;
  
}


#github {
  margin-right: 632px;
  margin-left: 5px;
  
}

.bottom-container {
 
  position: relative;
  margin: 0;
  text-align: center;
  object-position: center;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #EDEDD8;
  height: 20vh;
  align-items: center;
}

.copyright {
  color: black;
  font-size: 0.75rem;
  text-align: center;

}


.credits {
  margin: 5px auto 2px auto;
  color: black;
  font-size: 0.75rem;
  text-align: center;
}


#credits-links {
  text-decoration: none;
  margin: 0;
  color: #EAF6F6;
  font-size: 0.75rem;
}

