body {
  overflow-x:hidden;
}

.navbar {
  background-color: #66bfbf;
  height: 70px;

}

.profile-pic {
  width: 60px;
  height: 60px;
  border-radius:50%;
  margin: 3px auto auto 30px;
  position: relative;

}

.navbar-brand {
  position: relative;
  margin-left: 90px;
  color: #11999E;
}

.navbar-toggler {
  color: black;
}


.top-container {
  position: relative;
  top: 60px;
  padding: 60px 0 200px 0;
  margin: 0;
  text-align: center;
  object-position: center;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #EDEDD8;
}





.top-container h1 {
  margin: 50px auto 5px auto;;
  font-size: 5vw;
  color: #66BFBF;
  line-height: 3;
}

.top-container h2 {
  font-size: 3vw;
  font-family: 'Josefin Sans', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  margin: 5px auto;
}  



.btn-group-vertical {
  float:left !important;
  margin-top: 9vw;
  
}

.linkedin {
  width: 6vw;
  margin-bottom: 10px;
}



.github {
  width: 6vw;
}

.middle-container {
  margin: 11.1vw auto 7.5vw 2.2vw;
  text-align: left;
  position: relative; 
  font-family: 'Josefin Sans', sans-serif;
  color: #66BFBF;
  padding-top: 150px;
  margin-top: -30px;
  padding-right: 40px;
}

 .middle-container h2 {
  font-size: 3vw;
  font-family: 'Josefin Sans', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  margin: 5px auto;
  
}

.up {
margin-bottom: -50rw;
}



p {
  line-height: 2;
  font-size: 1.2vw;
  padding-right: 80px;
}


#skills {
  margin-top: 90px;
}

#frontal-picture {
  width: 15vw;
  
  
}



h3 {
  color: #11999E;
}

a {
  color:#11999E;
}


.profile {
  
  padding-top: 100px;
  padding-bottom: 100px;
}

.profile p {
  color: #40514E;
}


.middle-container img {
  margin:10px 10px 10px 10px;
  width: 5vw;
  align-items: left;
}

.middle-container .html {
  width: 5.8vw;
  margin-right: 0;
}


.contact {
  margin: 0 auto 10px auto;
  background-color: #EDEDD8;
  text-align: center;
  padding-top:120px;
  padding-bottom: 220px;
 
}

.contact h2 {
  font-size: 2.7rem;
  font-family: 'Josefin Sans', sans-serif;
  color: #66BFBF;
  font-weight: normal;
  text-align: center;
  padding-top: 40px
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 30px 20px;
  text-decoration: none;
  margin: 10px 45% 40px 45%;
  display: inline-block ;
  font-family: 'Josefin Sans', sans-serif;
  align-self: center;
  
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #3498db);
  background-image: -moz-linear-gradient(top, #30e3cb, #3498db);
  background-image: -ms-linear-gradient(top, #30e3cb, #3498db);
  background-image: -o-linear-gradient(top, #30e3cb, #3498db);
  background-image: linear-gradient(to bottom, #30e3cb, #3498db);
  text-decoration: none;
}




.contact-message {
  width: 40%;
  margin: 30px auto 40px;
}


.mr-2 {
  float:right !important;
  margin-top: 40px;
  
}

.mr-2 img {
  width: 40px;
  
}


#github {
  margin-right: 632px;
  margin-left: 5px;
  
}

.bottom-container {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.copyright {
  color: black;
  font-size: 0.75rem;
  text-align: center;

}


.credits {
  margin: 5px auto 2px auto;
  color: black;
  font-size: 0.75rem;
  text-align: center;
}


#credits-links {
  text-decoration: none;
  margin: 0;
  color: #EAF6F6;
  font-size: 0.75rem;
}

